

@font-face {
    font-family: 'lullabellemedium';
    src: url('font/lullabelle-webfont.eot');
    src: url('font/lullabelle-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lullabelle-webfont.woff2') format('woff2'),
         url('font/lullabelle-webfont.woff') format('woff'),
		 url('font/lullabellee-webfont.ttf')  format('truetype'), 
         url('font/lullabelle-webfont.svg#lullabellemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@viewport { 
    width: device-width; 
}


@media (min-width: 768px) {
  .container {
    max-width: 100%!important;
  }
}

html {
  font-size: 1rem;
}




img {
	max-width:100%;
	height:auto;
}

body{ padding:0px;
	margin:0px;
	font-family: 'harman', Helvetica, Arial, sans-serif;
	color:#fff;
}


.bodyClass {
	padding:0px!important;
	}
	
a{
	text-decoration:none; 
	color:#000;
}



/*Header*/
.logged-in #header{ margin-top:0px;}
#header{ 
	/* background-image:url("background2.png");*/
	width:100%;
	display:inline-block;
	position:relative;/* */
	padding:0px;
	}
	


/*Main Title*/





.logo {float: left;padding-bottom: 1%; width:100%;}
.logo h1 {
    margin-top:1%;
}

.logo h1 img{
	position:absolute;
	width:120px;
}

.logo h1 a{
	display:block;
	text-align:center;
	font-family: 'lullabellemedium';
	color:#000000;
	text-decoration:none;
	outline: none;
}
.logo .title-desc{ 
	text-align:center;
	font-weight: 300;

}

img.index-logo {
    margin: 5% 0%;
    height: 80px;
}

img.index-logo-small {
    margin: 5% 0%;
    height: 60px;
}

a#crea_link {
    color: black;
}

#content {
	text-align:center;
}
div#boutique {
    margin: 2% 0%;
	padding:0% 1%;
	text-align:center;
}


iframe.googlemap {
    border: 0;
    width: 100%;
	height: 350px;
	padding: 0% 7%;
	margin-bottom:5%
}

#boutique .contact {
    border-left-style: solid;
    border-left-width: thin;
}


div#calendar {
	margin: 2% 0%;
	    padding: 0% 7%;
}

div.fc-left h2 {
    font-size: 1.5rem!important;
    font-weight: 400!important;
}

th span {
    font-weight: 400;
}

.fc-toolbar.fc-header-toolbar {
	margin-bottom:0!important;
	
}

.fc-basic-view .fc-body .fc-row {
    min-height: 3em!important;
}

.fc button {
	height:inherit!important;
}*/

 .fc button .fc-icon{
	 top:0em!important;
	 vertical-align:baseline!important;
	 margin:0!important
 }

.fc-row.fc-week.fc-widget-content {
    height: 0px!important;
}



/* NAV */ 

/* nav{
    border-bottom-style: inset;
	
}*/

nav.creatrice {
	height: 135px;
}

button.navbar-toggler.d-md-none {
    font-size: 2rem;
}

a.navbar-brand.nav-center {
	font-family: 'lullabellemedium';
	font-size:3rem;
	color: #000000!important;
	margin-left:1%
	
	
}

img#nav-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
		margin-top:5px;
    }


 ul {
    margin-right: 1%;
}

  ul  li {
	margin: 0px 10px;
    position: relative;

}


  ul  li > a {

    color: #000!important;
    display: inline-block;
	font-size:1.3em;
	font-family: 'Lobster1.4Regular'!important; 

}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-menu {
	top:90%!important;
	left:-20%!important;
	text-align:center!important;
	background-color: #ffffff91!important;
}

@media (min-width: 769px) {
	  ul  li > a:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 0.1em;
		bottom: 0.5em;
		left: 0px;
		background: #000;
		visibility: hidden;
		border-radius: 5px;
		transform: scaleX(0);
		transition: .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
	}
	 ul  li > a:hover:before,
	 ul  li > a:focus:before {
	  visibility: visible;
	  transform: scaleX(1);
	}
}


/* creatrice page */

.row.text_center {
    justify-content: center;
}

.index_main {
    margin-top: 2%;
	text-align: center;
}

.masonry_container {
	max-width: 1300px; /* 4* masonry column width  */
    margin: 0 auto;
}

.grid {
  margin: 2% auto;
}


/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
/* add dinamic margin bottom and change width*/
.grid-item {
  width: 300px;
}

.grid-item {
  float: left;
}

.grid-item figure {
  margin-bottom:5px!important;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

#btn_more{
	position: absolute!important;
	text-align: center;
}

#btn_more.down{
	z-index: 10;
	bottom: -20px;
}

#btn_more.up{
    z-index: 10;
    top: -30px;
}

#btn_more button{
	background:none;
	border:none;
	cursor: pointer;
	text-decoration:underline;
}

#btn_more button:hover{
	color: #008CBA;
}

#btn_more button:focus{
	outline: 0px;
}

#crea_text {
	padding:0% 20%;
}

.creaHolder {
	min-width:10em;
	padding: 0px 5px!important;
}


.creaHolder a.title{
	font-weight: normal;
	    color: #000;
}

.creaHolder a.desc{
	font-weight: normal;
	color:#000;
}

img.link_logo {
    width: 28px;
    margin-left: 0.5%;
}

a.d_off {
	display:none!important;
}





#footer{
	max-width:1024px;
	text-align:center;
	margin: 0 auto;
}

@media (max-height: 699.98px) { 
.logo h1 {
	font-size: 4rem;
}

h2.title-desc {
	font-size: 1.5rem;
}

}

@media (max-width: 1300px) { 
  ul  li {
	margin: 0px 0px;
    position: relative;

	}
	
#crea_text {
	padding:0% 10%;
}
}


@media (max-width: 767.98px) { 
  html {
    font-size: 0.8rem;
  }
  
   ul  li > a {

	font-size:2.0em;

	}
	
img.index-logo {
    margin: 5% 0%;
    height: 60px;
}

img.index-logo-small {
    margin: 5% 0%;
    height: 40px;
}


.creaHolder.separation	{
    border-bottom-style: solid;
    border-bottom-width: thin;
	margin-bottom:2%!important;
 }
 
 a.navbar-brand.nav-center {
	font-size:3rem;
	color: #d13fff70!important;
	margin:0 auto;
	
}

#crea_text {
	padding:0% 5%;
}

}

@media (max-width: 575.98px) {
  html {
    font-size: 0.6rem;
  }
  
   ul  li > a {

	font-size:2.0em;

	}
	
img.index-logo {
    margin: 5% 0%;
    height: 40px;
}

img.index-logo-small {
    margin: 5% 0%;
    height: 40px;
}

#crea_text {
	padding:0% 0%;
}

}



